<div class="container-fluid">
   <h1 align="center">Angular CRUD</h1>

     <h3 align="center" style="background-color: blue; color: aliceblue;padding-top: 20px;padding-bottom:20px;">
<a routerLink="/employeeDashboard" routerLinkActive="active" style="color: aliceblue;">
    Employee Details
</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/employeeAdd" routerLinkActive="active" style="color: aliceblue;">
    Add Employee
</a>
</h3>
</div>
<router-outlet></router-outlet>
<!--class="navbar navbar-light bg-primary"-->